html {
  margin: 0;
  padding: 0;
}

body {
  position:absolute;
  scale: 70%;
  top: 70%;
  left: 70%;
  transform: translate(-100%, -100%);
  background-color: lightgray;
}

#cube {
  position:absolute;
  scale: 70%;
  top: 70%;
  left: 70%;
  transform: translate(-100%, -100%);
  background-color: lightgray;
}

canvas {
  display: block;
}