html {
  margin: 0;
  padding: 0;
}

body {
  position:absolute;
  scale: 70%;
  top: 70%;
  left: 70%;
  transform: translate(-100%, -90%);
  background-color: beige;
}

#timer {
  position: absolute;
  text-align: center;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  color: black;
  background-color: whitesmoke;
  padding: 15px;
  border-style: solid;
  border-radius: 20px;
  border-width: 7px;
}

#scramble {
  position: relative;
  text-align: center;  
  border-style: solid;
  border-radius: 10px;
  border-width: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  padding: 15px;
  background-color: whitesmoke;
}

#instructions {
  width: fit-content;
  position: absolute;
  text-align: left;
  transform: translate(0%, 6%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-style: solid;
  border-radius: 10px;
  border-width: 5px;
  padding: 15px;
  background-color: whitesmoke;
}

#instructionsText {
  position: relative;
  transform: translate(0%, 300%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  text-align: center;
}

canvas {
  display: block;
}